In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import scipy.stats as stats

In [2]:
inputs = []
#file1 = '../data/Processed_DJI.csv'

In [3]:
# Parameters
inputs = ["anonymous-msweb.data", "anonymous-msweb.info", "anonymous-msweb.test"]

In [4]:
print(inputs)

['anonymous-msweb.data', 'anonymous-msweb.info', 'anonymous-msweb.test']

In [8]:
!pwd

/home/randall/Dev/uci_dataset_processor/processor/outputs

In [9]:
pd.read_csv('/home/randall/Dev/uci_dataset_processor/data/anonymous/anonymous-msweb.data')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

             I    4 www.microsoft.com created by getlog.pl
T 1      VRoot    0                 0                VRoot
N 0          0  NaN               NaN                  NaN
  1          1  NaN               NaN                  NaN
T 2      Hide1    0                 0                 Hide
N 0          0  NaN               NaN                  NaN
...        ...  ...               ...                  ...
V 1035       1  NaN               NaN                  NaN
  1001       1  NaN               NaN                  NaN
  1018       1  NaN               NaN                  NaN
C 42711  42711  NaN               NaN                  NaN
V 1008       1  NaN               NaN                  NaN

[131665 rows x 4 columns]